.git
.gitignore
.gitattributes

node_modules
jspm_packages

dist
build
*.tsbuildinfo

.env
.env.*
!.env.example

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

coverage
.nyc_output
*.lcov
tests

.npm
.eslintcache
.cache
.rpt2_cache
.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_umd
.fusebox

.vscode
.idea
*.swp
*.swo

.DS_Store
Thumbs.db

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml

README.md
docs
Project\ Structure.md

src/generated

pids
*.pid
*.seed
*.pid.lock
