
DATABASE_URL_TEST=postgresql://postgres:postgres@localhost:5433/foodlify_test

# DATABASE_URL_TEST=postgresql://postgres:postgres@localhost:5432/foodlify_test

# DATABASE_URL_TEST=postgresql://postgres@localhost:5455/foodlify_test
