PORT=3000
NODE_ENV=development
JWT_SECRET=my_super_secret_key_change_in_production

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=G2T1M
POSTGRES_PORT=5433

DATABASE_URL=postgresql://postgres:postgres@localhost:5433/G2T1M